<?xml version="1.0" encoding="utf-8" ?>
<nlog  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
       internalLogLevel="fatal"
       internalLogFile="L:/WorkQueue/CallbackWebAPI-${shortdate}.log"
       throwExceptions="true">
  <targets>

    <target name="file" type="File" fileName="L:/WorkQueue/CallbackWebAPI-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <target name="blackHole" xsi:type="Null" />

  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" levels="Error,Warn,Info,Fatal" minlevel="Info" writeTo="File" enabled="true" />
  </rules>
</nlog>