@page "/"
@using RestSharp
@using DomainData.Models
@using DomainData.Models.UIModels
@inject QueueGroupService QueueGroupService

@inject NavigationManager NavigationManager
<div class="container-fluid">
    <div class="p-2"></div>
    <WorkQueue.Blazor.Components.QueueSelectListComponent></WorkQueue.Blazor.Components.QueueSelectListComponent>
    <div class="p-2"></div>
    <WorkQueue.Blazor.Components.QueueModelSelectListComponent></WorkQueue.Blazor.Components.QueueModelSelectListComponent>
    <div class="p-2"></div>
    <WorkQueue.Blazor.Components.DomainCreateListComponent></WorkQueue.Blazor.Components.DomainCreateListComponent>
    <div class="p-2"></div>
    <WorkQueue.Blazor.Components.QueueQuickViewComponent ></WorkQueue.Blazor.Components.QueueQuickViewComponent>
</div>

@code
{

}
