@page "/"
@using Data
@using RestSharp
@using DomainData.Models


@inject NavigationManager NavigationManager

@if (domainGroup != null)
{
<div class="mat-elevation-z0" style="padding: 30px">

    <MatH3>List of Work Queues</MatH3>
    <br />
    <MatAccordion Multi="true">
        @foreach (var group in domainGroup)
        {
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatExpansionPanel>
                    <MatExpansionPanelSummary>
                        <MatExpansionPanelHeader>
                            @group.GroupName
                        </MatExpansionPanelHeader>
                    </MatExpansionPanelSummary>
                    <MatExpansionPanelDetails>
                        <WorkQueue.Blazor.Components.QueueComponent QueueGroupID="@group.ExternalReferenceId" QueueGroupName="@group.GroupName"></WorkQueue.Blazor.Components.QueueComponent>
                    </MatExpansionPanelDetails>
                </MatExpansionPanel>

            </div>
        }
    </MatAccordion>
</div>
        
        }

        @code{

    private IEnumerable<DomainGroup> domainGroup;

        protected override void OnInitialized()
        {
            var client = new RestClient("http://localhost:52388/");
            var request = new RestRequest("api/DomainData/", Method.GET);
            var queryResult = client.Execute<List<DomainGroup>>(request).Data;

            domainGroup = (IEnumerable<DomainGroup>)queryResult;
        }

        public void ButtonClick(int Id)
        {
            NavigationManager.NavigateTo("/QuestionSet/" + Id);
            var x = Id;
        }
        }
