@page "/QueueGroupList"

@inject QueueGroupService QueueGroupService

@inject NavigationManager NavigationManager
<div class="container-fluid">
    <div class="p-2"></div>
    <WorkQueue.Blazor.Components.QueueSelectListComponent></WorkQueue.Blazor.Components.QueueSelectListComponent>
    <div class="p-2"></div>
    <WorkQueue.Blazor.Components.QueueQuickViewComponent></WorkQueue.Blazor.Components.QueueQuickViewComponent>
</div>

@code
{

}
